{% extends 'base.html' %}

{% block content %}

    <form action="" method="POST">
        {% csrf_token %}
        <!-- <div> -->
            <label for="quiz_category">Category: </label>
            <select name="quiz_category" id="" requfired>
                <option selected disabled>choose one category..</option>
                {% for cat in categories %}
                    <option value="{{ cat.category_id }}">{{ cat.category_id }} : {{ cat.category_name }}</option>
                {% endfor %}
            </select>
        <!-- </div> -->

        <!-- <div> -->
            <label for="quiz_difficulty">Difficulty: </label>
            <select name="quiz_difficulty" id="" required>
                <option selected disabled>Choose the difficulty</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
        <!-- </div> -->

        <label for="">No. of Questions: </label>
        <input type="text" placeholder="10" disabled>

        <label for="">Type: </label>
        <input type="text" placeholder="Multiple Choice" disabled>

        <!-- <p>No. of Questions: <span> 10 </span></p>
        <p>Type: <span> Multiple Choice </span></p> -->

        <button type="submit">Button</button>
    </form>

    {% for i in school_quiz %}
   <a href='{{i.get_absolute_url}}'>{{i.quiz_difficulty}}</a> 
    {% endfor %}

{% endblock %}